{% extends "blog/base.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter detail" %}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="center">
            <h3>{{ object.title }}</h3>
                {% if not user.is_authenticated %}
                <p><a href="{% url "newsletter_update_request" object.slug %}">{% trans "Aktualizuj" %}</a></p>
                {% endif %}
                <p><a href="{% url "newsletter_unsubscribe_request" object.slug %}">{% trans "Unsubscribe" %}</a></p>
                <p><a href="{% url "newsletter_archive" object.slug %}">{% trans "Archiwum" %}</a></p>
                <p><a href="../">{% trans "Powrót" %}</a></p>
        </div>
    </div>
{% endblock %}
