{% extends 'blog/base.html' %}

{% block content %}
<div class="container events">

            {% for event in events reversed %}
                    <h1><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title }}</a></h1>
                    <p class="lead">Autor: {{ event.author }}</p>
                    <hr>
                    <p>
                    <span class="glyphicon glyphicon-time"> </span>
                    Utworzony {{ event.created_date }}
                    </p>
                    <img class="img-responsive" src="{{ event.model_pic.url }}" alt="{{ event.title }}" />
                    <hr>
                    <p>{{ event.text|safe|linebreaksbr }}</p>
                <hr>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if events.has_previous %}
                        <a href="?page={{ events.previous_page_number }}">Poprzednia <<</a>
                    {% endif %}
                <span class="current">
                    Strona {{ events.number }} z {{ events.paginator.num_pages }}.
                </span>

            {% if events.has_next %}
                <a href="?page={{ events.next_page_number }}"> >> Następna</a>
            {% endif %}
                </span>
            </div>
</div>
{% endblock %}