{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Kupony promocyjne w Twoim mieście!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '648335712036633',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Strona główna</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'events_list' %}">Wydarzenia</a></li>
        <li><a href="/newsletter/">Newsletter</a></li>
        <li><a href="{% url 'contact' %}">Kontakt</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}">Dodaj kupon</a></li>
        <li><a href="{% url 'event_new' %}">Dodaj wydarzenie</a></li>
      {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user and not user.is_anonymous %}
            <li><a>Witaj {{ user.get_full_name|default:user.username }}!</a></li>
        {% endif %}
            {% if user.is_anonymous %}
            <li><a href="{% url 'login' %}">Zaloguj</a></li>
            <li><a href="{% url 'register' %}">Zarejestruj się</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- LOGO SECTION-->

    <div class="logo"><img src="{{MEDIA_URL}}logo.jpg"/></div>
    <!--	<div class="thank-text">Lokalny kupon</div>-->
    <!--CONTENT SECTION-->
    {% block content %}
    {% endblock %}
    <!--FOOTER SECTION-->
	<div id="main-container-footer">
		<div class="container-footer">

            <div id="row-1f">
            	<div class="text-row-1f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Czym są kupony?</span><br>Dzięki kuponom możesz zaoszczędzić swój czas i pieniądze. Znajdź rabat na co tylko zechcesz w Twojej miejscowości.</div>
            </div>

            <div id="row-2f">
            	<div class="text-row-2f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Jak to działa?</span><br>Znajdź kupon, który Cię interesuję. Kliknij go, aby zobaczyć szczegóły i pokaż je sprzedawcy podczas zakupów. To wszystko!</div>
            </div>

            <div id="row-3f">
            	<div class="text-row-3f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Pozostań w kontakcie!</span><br>Jeśli jesteś zainteresowany współpracą, zadzwoń 0 600 - 601 - 602 lub napisz kontakt@kupony.pl</div>
            </div>

            <div id="row-4f">
            	<div class="text-row-4f"><span style="font-weight:600;font-size:15px;color:#666;line-height:250%;text-transform:uppercase;letter-spacing:1.5px;">Reklama</span><br>Szukasz miejsca na reklame? Właśnie ją znalazłeś. Zadzwoń!</div>

            </div>

		</div>
	</div>
    <!--COPYRIGHT SECTION-->
    <div id="wrapper-copyright">
		<div class="copyright">
    		<div class="copy-text object">Copyright 2016. All rights reservet. Website made by <a style="color:#D0D1D4;" href="/"> kupony group.</a></div>
    	</div>
    </div>

</div>
</body>
</html>