{% extends 'blog/base.html' %}

{% block content %}
    <div class="main-container-image">
        <section class="work">

            {% for post in posts reversed %}
                <figure class="white">
                    <img src="{{ post.model_pic.url }}" alt="{{ post.title }}" />
                    <dl>
                        <dt>{{ post.title }}</dt>
                        <dd>{{ post.text|safe|linebreaksbr }}</dd>
                    </dl>
                    <div id="wrapper-part-info">
                        <div id="part-info"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></div>
                    </div>
                </figure>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">Poprzednia <<</a>
                    {% endif %}
                <span class="current">
                    Strona {{ posts.number }} z {{ posts.paginator.num_pages }}.
                </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}"> >> Następna</a>
            {% endif %}
                </span>
            </div>
        </section>
    </div>
{% endblock %}